*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 308px;
    background-color: blue; 
}
h3 {
    font-family: font2;
    color: aliceblue;
    font-size: 40px;
    font-weight: 500px;
    line-height: normal;
    padding: 70px 240px;
}
.box {
    width: 1920px;
    position: absolute;
    top: 200px;
}
.project1 {
    display: inline-block;
    position: relative;
    margin-left: 250px;
    width: 463px;
    height: 420px;
}
.project2 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 463px;
    height: 420px;
    bottom: 70px;
}
.project3 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 463px;
    height: 420px;
}
.project4 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 463px;
    height: 420px;
    left: 1660px;
    bottom: 425px;
    margin-left: 65px;
}
.images {
    width: 100%;
}
.text {
    position: absolute;
    left: 70px;
    bottom: 40px;
    width: 340px;
    height: 66px;
    background-color: rgb(240 240 241 / 80%);
    border-radius: 5px;
    text-align: center;
    padding: 14px;

}